/* ============================= CSS Reset ======================== */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* ============================= General ======================== */
body {
	font: Helvetica, Arial, Verdana, sans-serif;
	width:1440px;
	height:100vh;
	margin:0 auto;
	box-sizing: border-box;
}
/* ============================= 1st Level Structure ======================== */
#header {
	
	height: 685px;
	background-image: url("images/your_verse_hero.jpg");
	background-repeat: none;
	background-position: 100% 100%;
}
#products {
	height: 200px;
	
}
footer {
	display:grid;
	grid-template-columns: 50% 50%;
	justify-content: center;
	margin: 30px 0 0 0;
	}
/* ============================= 2nd Level Structure ======================== */

#nav {
	height:55px;
	margin: 0 auto;
	display:flex;
	justify-content:center;
	height:55px;
	width:1440px;
}
#your-verse {
	display:flex;
	justify-content: center;
	position: relative;
	width: 1440;
	height:630px;
}
#products {
	display:grid;
	grid-template-columns: repeat(4, 1fr);
	height:200px
}
/* ============================= Section Specific Details ======================== */
/* ============================= Header Section ======================== */
#nav div {
	margin:0;
	padding:0;
	margin-top:18px;
	height:36px;
	width: 102px;
	
	background-repeat: no-repeat, no-repeat;
}
#nav #apple {
	background: url("images/log.svg"),url("images/globalnav.png");
	background-position: -30px 3px, 0 0;
}
#nav #apple:hover {
	background: url("images/log.svg"),url("images/globalnav.png");
	background-position: -30px 3px, 0px -72px;
}
#nav #Store {
	background: url("images/log.svg"),url("images/globalnav.png");
	background-position: -35px -26px, -102px 0;
}
#nav #Store:hover {
	background: url("images/log.svg"),url("images/globalnav.png");
	background-position: -35px -26px, -102px -72px;
} 
#nav #Mac {
	background: url("images/log.svg"),url("images/globalnav.png");
	background-position: -35px -55px, -102px 0;
}
#nav #Mac:hover {
	background: url("images/log.svg"),url("images/globalnav.png");
	background-position: -35px -55px, -102px -72px;

}
#nav #iPod {
	background: url("images/log.svg"),url("images/globalnav.png");
	background-position: -35px -85px, -102px 0;
}
#nav #iPod:hover {
	background: url("images/log.svg"),url("images/globalnav.png");
	background-position: -35px -85px, -102px -72px;
}
#nav #iPhone {
	background: url("images/log.svg"),url("images/globalnav.png");
	background-position: -35px -115px, -102px 0;
}
#nav #iPhone:hover {
	background: url("images/log.svg"),url("images/globalnav.png");
	background-position: -35px -115px, -102px -72px;
}
#nav #iPad {
	background: url("images/log.svg"),url("images/globalnav.png");
	background-position: -35px -145px, -102px 0;
}
#nav #iPad:hover {
	background: url("images/log.svg"),url("images/globalnav.png");
	background-position: -35px -145px, -102px -72px;
}
#nav #iTunes {
	background: url("images/log.svg"),url("images/globalnav.png");
	background-position: -35px -175px, -102px 0;
}
#nav #iTunes:hover {
	background: url("images/log.svg"),url("images/globalnav.png");
	background-position: -35px -175px, -102px -72px;
}
#nav #Support {
	background: url("images/log.svg"),url("images/globalnav.png");
	background-position: -35px -205px, -102px 0;
}
#nav #Support:hover {
	background: url("images/log.svg"),url("images/globalnav.png");
	background-position: -35px -205px, -102px -72px;
}
#nav #search {
	background:url("images/globalsearch_bg.png");
	background-position:bottom right ;
	background-repeat: no-repeat;
	background-size: 132px 36px;
	height:36px;
	width: 132px;
	
	position:relative;
}
#nav #search:before {
	background: url("images/globalsearch_field.png");
	background-position: 0px 0px;
	background-repeat: no-repeat;
	background-size: 110px 40px;
	height:20px;
	position:absolute;
	z-index: 10;
	content: '';
	width:120px;
	left:10px;
	top:8px;
}
#your-verse-link {
	width: 100%;
	height: 630px;
	position:absolute;
	top:0;
	left:0;
}
#your-verse-images {
	min-width: 300px;
	max-width: 1440px;
	display:grid;
	grid-template-rows: 30% 10% 2fr 2fr 32px 27%;
	margin: 0 auto;
	justify-content: center;
	align-items: center;
}
#your-verse-1 {
	grid-row:2/3;
	background-image: url("images/your_verse_title_small.png");
	background-repeat: no-repeat;
	background-position: 10px 0px;
	width:980px;
	height:100px;
}
#your-verse-2 {
	grid-row: 3/4;
	background-image: url("images/your_verse_subhead_small.png");
	background-repeat: no-repeat;
	background-position: 0px 0px;
	width:980px;
	height:100px;
}
#your-verse-3 {
	grid-row: 4/5;
	background-image: url("images/cta_your_verse_27pt.png");
	background-repeat: no-repeat;
	background-position: 0 0;
	background-clip: border-box;
	height:32px;
	z-index: 10;
}
#your-verse-3:hover {
	grid-row: 4/5;
	background-image: url("images/cta_your_verse_27pt.png");
	background-repeat: no-repeat;
	background-position: 100% 100%;
	background-clip: border-box;
	height:32px;
	z-index: 10;
}
/* ============================= Products Section ======================== */
.product-images {
	margin: 2px 2px 0 0;
}
#img1{
	background-image: url("images/promo_iphone5s.jpg");
	background-position: 100% 100%;
	margin-left:0;
}
#img2{
	background-image: url("images/promo_iphone5c.jpg");
	background-position: 100% 100%;
}
#img3{
	background-image: url("images/promo_30_years.jpg");
	background-position: 100% 100%;
}
#img4{
	background-image: url("images/promo_supplier_responsibility.jpg");
	background-position: 100% 100%;
	margin-right:0;
}
/* ============================= Footer Section ======================== */
.footer-div {
	justify-self: start;
	margin: 0 0 10px 200px;
}
.footer-div p,a {
	font-size: 10px;
	text-decoration: none;
}
.footer-div a:hover {
	text-decoration: underline;
}
.inline {
	justify-self: start;
	display: flex;
	margin-left:10px;
	align-items: center;
}
.inline a {
	margin: 0 5px;
}
.inline img {
	margin-left: 2px;
	position:relative;
	top:1px;
}